<button mat-button class="menu-button" routerLink="/" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>
<button mat-button class="menu-button" routerLink="/users" (click)="onSidenavClose()">
    <mat-icon>person</mat-icon>
    <span>Userliste</span>
</button>
<button mat-button class="menu-button" routerLink="/createUser" (click)="onSidenavClose()">
    <mat-icon>create</mat-icon>
    <span>Registrieren</span>
</button>

<mat-divider></mat-divider>

<button mat-button class="menu-button">
    <mat-icon>help</mat-icon>
    <span>Help</span>
</button>